body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  }
  
/*.perfectpixel {
background-image: url(../NOEMI_mq_desktop.jpg);
background-image: url(../NOEMI_mq_tablet.jpg);
background-image: url(../NOEMI_mq_mobile.jpg);
background-position: top left;
background-repeat: no-repeat;
opacity: 0.5;
  }*/
  
  .header {
    color: white;
    background-color: #000000;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1200px) {
.header {
  min-width: 1200px;
  background-image: url(../images/banner-bg.jpg);
  }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
.header {
  min-width: 768px;
  background-image: url(../images/banner-bg-tablet.jpg);
}
  }

  @media (max-width: 767px) {
    .header {
      background-image: url(../images/banner-mobile.jpg);
    }
      }

  
  .header::after {
  content: ""; 
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  z-index: 1;
  }
  
  .logo-menu-box {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 15px;
  }

  .logo {
    display: inline-block; 
   width: 180px;
    z-index: 2;
  }


  @media (min-width: 1200px) {
    .logo-menu-box {
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  width: 1200px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    .logo-menu-box {
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
  width: 768px;
      padding: 0 35px;
    }
  }

  @media (max-width: 767px) {
    .logo-menu-box {
      flex-direction: column-reverse;
      align-items: flex-end;
      margin-top: 30px;
 width: 100%;
 padding: 0 33px;
    }

    .logo {
    width: 100%;
    margin-top: 175px;
    align-self: center;
       z-index: 2;
      }
  }

  @media (min-width: 1200px) {
    .burger {
      display: none;
    }

    .menu-list {
      display: flex;
      flex-wrap: nowrap; 
      justify-content: flex-end;
      list-style-type: none; 
      padding: 0; 
      margin: 0;
      vertical-align: middle;
      }
      
      .menu-link { 
       color: inherit;
       text-decoration: none;
      }
      
      .menu-link:hover { 
       color: #b59f5b;
      }
      
      .menu-list-item {
      text-transform: uppercase;
      font-size: 0.81em;
      color: white;
      margin: 0 36px 0 0;
        padding: 0;
      z-index: 2;
      }
      
      .menu-list-item:last-of-type {
        margin: 0;
      }
    }
  @media (max-width: 1199px) {
    .menu-list {
      display: none;
    }

    .burger {
      position: relative;
      width: 25px;
      height: 20px;
      z-index: 2;
    }

    .line {
      width: 22px;
      height: 3px;
      background-color: white;
      margin-bottom: 4px; 
    }

    .line:last-of-type {
      margin-bottom: 0; 
    }
  }
  
  .intro-box {
   position: relative;
   z-index: 2;
   box-sizing: border-box;
   margin: 0 auto;
  }
  
  .intro {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(4.6vw + 15.4px);
   padding: 0;
   margin: 0;
   margin-block-start: 0;
   margin-inline-end: 0;

  }

  @media (min-width: 1200px) {
    .intro-box {
      width: 680px;
      margin-top: 95px;
      margin-bottom: 143px;
      }
           
      .intro {
      font-size: 45px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .intro-box {
      width: 605px;
      margin-top: 105px;
      margin-bottom: 125px;
      }

     .intro {
      font-size: 40px;
    }
  }

  @media (max-width:767px) {
    .intro-box {
      width: 100%;
     margin-top: 45px;
     margin-bottom: 215px;
     padding: 0 33px;
   }
   
   .intro {
      font-size: 26px;
  }
  }
  
  .widget-block {
   width: 100%;
    margin-top: calc(2.4vw + 31.5px);
  }
  
  .widget-block-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .widget-block-heading::after {
    content: "";
    background-color: #b59f5b;
    width: 66px;
  height: 3px;
    margin: 10px 0 0 0;
  }
  
  .widget-block-name {
    text-align: center;
    text-transform: uppercase;
    font-size: calc(.476vw + 14.288px);
    font-weight: 700;
    margin: 0;
   padding: 0;
  }

  .trends {
    width: 100%;
    margin-top: 25px;
  }

  @media (min-width: 1200px) {
    .trends {
      display: flex;
       flex-wrap: nowrap; 
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .trends {
      display: flex;
      flex-wrap: wrap; 
      margin-top: 20px;
    }
  }
  
  .trend-card {
    margin-right: 4px;
    position: relative;
    display: flex;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4px;

  }

  @media (max-width: 767px) {
    .trend-card {
      width: 100%;
      height: 320px; 
    }
  }

  @media (min-width: 1200px) {
    .trend-card {
      width: calc((100% - 12px) / 4);
      height: 320px; 
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .trend-card {
      width: calc((100% - 12px) / 2);
      height: calc((100vw - 12px) / 3); 
    }
  }

  .trend-card::after {
    content: "";
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .trend-card:last-of-type {
    margin-right: 0;
  }
  

  #garden {
background-image: url(../images/trend1.jpg);
  }

  #cheese {
    background-image: url(../images/trend2.jpg);
      }

      #backpacking {
        background-image: url(../images/trend3.jpg);
          }

          #vitamins {
            background-image: url(../images/trend4.jpg);
              }
  
  .trend {
    border: solid 4px rgba(181, 159, 91, .6); 
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .trend {
      position: absolute;
      bottom: 15px;
      left: 20px;
      right: 20px;
      padding: 35px 30px 30px 30px;
     
    }
  }

  @media (max-width: 767px) {
    .trend {
      position: absolute;
      bottom: 18px;
      left: 15px;
      right: 15px;
      padding: 35px 20px 30px 20px;
    }
  }

  .trend-name {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    line-height: calc(.476vw + 18.288px);
    margin: 9px 0 0 0;
  }

  @media (min-width: 1200px) {
    .trend-name {
      font-size: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .trend-name {
      font-size: 17px;
    } 
  }

  @media (max-width: 767px) {
    .trend-name {
      font-size: 16px;
    }
  }
  
  .page-container {
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-top: calc(2.4vw + 31.5px);
    margin-bottom: calc(2.4vw + 31.5px);
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1200px) {
    .page-container {
      width: 1200px;
      padding: 0 15px;
    }
    .content {
      box-sizing: border-box;
      width: 800px;
      margin-right: 60px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .page-container {
      width: 100%;
      padding: 0 35px;
    }
    .content {
      box-sizing: border-box;
      width: 60%;
      margin-right: 5%;
    }
  }
  
  .page {
   width: 100%; 
  }

  @media (min-width: 768px) {
.page {
  display: flex;
  flex-wrap: nowrap;
    align-items: flex-start;
   justify-content: space-between;
}
  }

  @media (max-width: 767px) {
    .page {
      box-sizing: border-box;
      padding: 0 15px;
      padding-bottom: 15px;
    }
      }
  
  .card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
padding-bottom: 20px;
      margin-top: 40px;  }

      .card:first-of-type {
        margin-top: 0;
      } 

  @media (max-width: 1199px) {
    .card {
      flex-direction: column;
      border-bottom: 3px solid #eeeeee ;
    }
  }

  @media (max-width: 1199px) {
    .card {
        margin-top: 33px;  }
  }

  @media (min-width: 1200px) {
    .card-img {
      flex: 0 0 385px;
    }
    .card-img .img {
      max-width: 100%;
     }
     .card-block {
      margin-left: 30px;
    }
    .card-name {
      font-size: 20px;
      margin: 11px 0 36px 0;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .card-img {
      flex: 0 1;
      margin-bottom: 2%;
    }
    .card-img .img {
    width: 100%;
     }

     .card-name {
      font-size: 17px;
      margin: 11px 0 36px 0;
    }
  }

  @media (max-width: 767px) {
    .card-img {
      flex: 1 1;
      margin-bottom: 2%;
    }
    .card-img .img {
    width: 100%;
     }

     .card-name {
      font-size: 16px;
      margin: 11px 0 24px 0;
    }
  }
  
  .card-categories {
  display: flex;
  flex-wrap: wrap; 
    align-items: flex-start;
  list-style-type: none;
  padding: 0; 
  margin: 0;
  }
  
  .card-category {
   margin-right: 20px;
    font-weight: 700;
    text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  }
  
  .post-tag { 
   color: inherit;
   text-decoration: none;
  }

  @media (min-width: 1200px) {
  .post-tag:hover {
  cursor: pointer;
  }
  }
  
  .time-author {
   display: flex;
   flex-wrap: wrap;
   align-items: center; 
  }
  
  .card-date {
    font-size: 12px;
   color: #888888;
  }
  
  .card-author {
    font-weight: 700;
    font-size: 12px;
    margin-left: 13px;
  }
  
  .card-name {
  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(.476vw + 18.288px);
  }

  .read-article { 
   color: inherit;
   text-decoration: none;
  }
  
  @media (min-width: 1200px) {
    .read-article:hover {
  color: #b59f5b;
  cursor: pointer;
  }
  }
  
  .card-content {
  margin-top: calc(3.8vw + 10.3px);
  }
  
  .card-text {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  }
  
  .asides {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
  }

  @media (min-width: 768px) {
    .asides {
      flex: 0 0 270px;
     }
  }

  
  .asides-section {
    margin-top: calc(2.4vw + 31.5px);
    margin-bottom: 0;
        padding: 0;
  }
  
  @media (min-width: 768px) {
    .asides-section:first-of-type {
      margin-top: 0;
    }
  }

  .asides-section-name {
    text-align: center;
    text-transform: uppercase;
  font-size: 14px;
    font-weight: 700;
   line-height: 1;
   margin: 0;
   padding: 0;
  }

  @media (max-width: 767px) {
    .asides-section {
      width: 100%;
    }

    .asides-section-name {
      font-size: 16px;
    }
  }
  
  .asides-section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .asides-section-heading::after {
    content: "";
    background-color: #b59f5b;
    width: 66px;
  height: 3px;
    margin: 15px 0 25px 0;
  }
  
  .last-post {
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    margin: 0 0 22px 0;
    padding: 0;
  }
  
  .post-preview {
    min-width: 70px;
    max-width: 70px;
    margin-right: 15px;
   overflow: hidden;
  }
  
  .post-preview .post-img {
  min-width: 100%;
  }
  
  .post-description{
    padding: 0;
    margin: 0;
  }
  
  .post-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  margin: -3px 0 0 0;
  padding: 0;
  }
  
  @media (min-width: 1200px) {
     .post-name:hover {
  color: #b59f5b;
  cursor: pointer;
  }
  }
  
  .post-date {
    font-weight: 400;
    font-size: 12px;
    vertical-align: top;
    color: #888888;
    margin: 0;
    padding: 0;
  }
  
  .field {
  box-sizing: border-box; 
  width: 100%;
  height: 48px;
  border: none; 
  background-color: #f4f7f6;
  padding: 15px 20px;
  font-family: inherit;
  }
  
  .field:focus {
    outline: 2px solid #b59f5b;
    outline-offset: -2px;
  }
  
  .search-form {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
     margin-top: 63px;
    margin-bottom: 15px;
    align-items: center;
  }
  
  #search-field {
  width: calc(100% - 45px);
    margin-top: 0;
  }
  
  #search-button {
  width: 48px;
     margin-top: 0;
  font-size: 0;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (min-width: 1200px) {
   .search:hover {
  background-color: #323232; 
  } 
  }
  
  
  .field {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    box-sizing: border-box; 
    padding: 15px 0 15px 20px;
    margin: -5px 0 0 0;
  font-family: inherit;
    font-size: 13px;
  }
  
  .button {
  box-sizing: border-box; 
  width: 100%;
  height: 48px;
   border: none;
  padding: 15px 0;
    margin-top: 15px;
  color: #ffffff; 
  background-color: #b59f5b; 
    text-transform: uppercase;
    text-align: center;
  font-family: inherit; 
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
  
  @media (min-width: 1200px) {
     .button:hover {
  background-color: #323232; 
  }
  }
  
  .label {
    display: none;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
  padding: 0; 
  margin: 0;
  }
  
  .tag {
    border: 3px #f4f3f1 solid;
    box-sizing: content-box; 
    padding: 3px 13px 3px 13px;
    margin: 0 6px 5px 0; 
    text-transform: uppercase;
  font-family: inherit; 
    font-size: 12px;
    font-weight: 700;
  }
  
  .tag:nth-child(7), .tag:nth-child(8) {
    margin-bottom: 0;
  }
  
  .tag-link, .cat-link, .text-link, .shop-link, .copy-link { 
   color: inherit;
   text-decoration: none;
    font-family: inherit; 
    font-size: inherit;
  }

  @media (min-width: 1200px) {
    .tag:hover {
    border: 3px #b59f5b solid;
    cursor: pointer;
  }
  }
  
  .cat-list {
    list-style-type: none; 
  padding: 0; 
  margin: 0;
  }
  
  .category {
    border-bottom: 1px solid #f4f3f1;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
  }
  .category:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
  
  .category:hover {
   color: #b59f5b;
    cursor: pointer;
  }
  
  .posts-number {
    color: #b59f5b;
    font-size: 70%;
    vertical-align: top;
  }
  
  .products {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  @media (min-width: 1200px) {
    .products {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .product-card {
      width: 29.5%;
    } 

    .product-card:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

    .product-card {
      width: 48.5%;
    }
  }

  .product-card {
    z-index: 3;
    display: flex;
    flex-direction: column;
  }
  
  .product-image {
    padding: 20px;
    box-sizing: border-box;
    align-self: center;
  }

  .product {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-top: -50px;
     border: solid 3px rgba(181, 159, 91, .6); 
    padding: 50px 20px 26px 20px;
  }
  
  .product-name {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
  margin-top: 0;
  }
  
  @media (max-width: 1199px) {
.product-name {
  font-size: 17px;
}
  }

  .product-description {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 4px;
    margin-bottom: 22px;
   padding: 0;
  }
  
  .text-link {
   color: #b59f5b; 
  }
  
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .old-price {
      font-size: 12px;
  font-weight: 700;
    text-decoration: line-through;
    margin-bottom: -4px;
  }
  
  .price {
    font-size: 20px;
  font-weight: 700;
  }
  
  .shop {
  box-sizing: border-box; 
  flex: 0 0 143px;
  height: 48px;
   border: none;
  padding: 15px 0;
  color: #ffffff; 
  background-color: #b59f5b; 
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
  
  @media (min-width: 1200px) {
    .shop:hover {
  background-color: #323232; 
  }
  
  .text-link:hover {
   color: #1e0606;  
    cursor: pointer;
  }
}

  .footer {
    box-sizing: border-box;
    margin: 0 auto 45px auto;
    display: flex;
   flex-direction: column; 
   justify-content: center;
  }

  @media (min-width: 1200px) {
    .footer {
      width: 1200px;
      padding: 0 15px;
    }
    .copywrite {
      margin-top: 65px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .footer {
      min-width: 768px;
      padding: 0 35px;
    }
    .copywrite {
      margin-top: 45px;
    }
  }

  @media (max-width: 767px) {
    .footer {
      width: 100%;
      padding: 0 15px;
    }
    .copywrite {
      margin-top: 50px;
    }
  }
  
  
  .social-media-items {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style-type: none;
    width: 100%;
    background-color: #f4f7f6;
    margin: 0;
    padding: 32px 0;
  }
  
  
  .social-media-item {
    vertical-align: middle;
    width: 25px;
    height: 25px; 
    background-repeat: no-repeat; 
    background-size: 22px; 
    background-color: #f4f7f6; 
    background-position: center;
    margin-left: 22px;
  }
  
  .social-media-item:first-of-type {
    margin-left: 0;
  }
  
  #twitter {
    background-image: url(../svg/004-twitter.svg)
  }
  
  #pinterest {
    background-image: url(../svg/001-pinterest.svg)
  }
  
  #facebook {
    background-image: url(../svg/002-facebook-logo.svg)
  }
  
  #instagram {
    background-image: url(../svg/005-instagram.svg)
  }
  
  #tumblr {
    background-image: url(../svg/003-tumblr.svg)
  }
  
  @font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff) format("woff"); 
  font-weight: 400;
  font-style: normal;
  }
  
  @font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff) format("woff"); 
  font-weight: 700;
  }
  
  .socials-link-text {
    display: none;
  }
  
  .copywrite {
  font-weight: 700;
   font-size: 12px;
   color: #999999;
    text-align: center;
  }

  .hidden {
  display: none;
  }

  @media (max-width: 350px) {
    .hidden {
      display: none;
    }
  }

  .popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
    display: flex;
  }

  .popup-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    z-index: 11;
  }

  .link-close {
    display: block;
    background-image: url(../svg/form-x.svg);
  }
  
  @media (min-width: 1200px)  {
    .link-close { 
      width: 15px;
      height: 15px;
      background-size: 15px;
    }
  }
  
  @media (max-width: 1199px)  {
    .link-close { 
      width: 25px;
      height: 25px;
      background-size: 25px;
    }
  }
  

.popup {
    box-sizing: border-box;
    background-color: white;
}

@media (min-width: 768px)  {
  .popup { 
    width: 390px;
  min-height: 589px;
  padding: 55px 30px;
  }
}

@media (max-width: 767px)  {
  .popup {
    width: 333px;
  min-height: 546px;
  padding: 30px;
  }
}

.popup-form-row {
    width: 100%;
    margin-top: 35px;
}

.form-hint, .radio-group-text {
    font-size: 13px;
    line-height: 1.2;
}

.popup-input, .textarea, .select {
    box-sizing: border-box; 
    width: 100%;
    height: 48px;
    border: none; 
    background-color: #f4f7f6;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.2;
    margin-top: 10px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    }

.textarea {
    min-height: 133px;
    margin-bottom: 25px;
    max-width: 100%;
}

.select {
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center right 15px;
  color: #a2a2a2;
}

.popup-input:focus, .select:focus, .textarea:focus {
    outline: 1px solid #b59f5b;
    outline-offset: 0; }

    .radio-container {
        display: flex;
        margin-top: 10px;
    }

    .radio-group-text {
      margin-right: 15px;
    }

    .radio-group-text::before {
         content: "";
        display: inline-block;
        vertical-align: middle;
          width: 20px;
          height: 20px;
          background-image: url(../svg/form-empty-circle.svg);
          background-position: center center;
        background-size: 20px;
        margin-right: 5px;
        }

        .radio:checked ~ .radio-group-text::before {
          background-image: url(../svg/form-circle.svg)
          }

          .radio {
            display: none;
          }